<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" lang="en">
<head th:replace="base :: head-source"></head>

<body class="list-back" >
<nav th:replace="base :: main-navbar"></nav>

<div class="container p-5">

    <div class="emptySpace"></div>

    <div class="bg-light">
        <h3 class="text-center text-warning p-5">Add a day</h3>
    </div>

    <form class="form-group" th:action="@{/addDay}" th:object="${days}" method="post" action="#">
        <div class="row">
            <input type="hidden" th:field="*{dayId}"/>

            <div class="col-md-6 col-sm-12 mt-2">
                <label>Day</label>
                <input type="text" th:field="*{dayname}" placeholder="Day" class="form-control" name="dayTitle">
            </div>
            <div class="col-md-6 col-sm-0">

            </div>

        </div>
        <div class="row mt-2">
            <div class="col-sm-12 col-md-6">
                <input type="submit" value="Add Day" class="btn-lg btn btn-success mt-2"/>
                <a href="/addDay" class="btn-success btn btn-lg mt-2">Reset</a>
            </div>
        </div>
    </form>

</div>

<div class="emptySpace"></div>
</body>
</html>