<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" lang="en">
<head th:replace="base :: head-source"></head>

<body>
<nav th:replace="base :: main-navbar"></nav>

<div class="space"></div>

<div class="container p-5 bg-background">

    <!--<div class="emptySpace"></div>-->
    <h2 class="text-center">Update or Add Fruits</h2>
    <div class="col-md-6 col-md-offset-3">
        <form th:action="@{/process}" th:object="${fruit}" method="post" enctype="multipart/form-data">

            <input type="hidden" th:field="*{myId}"/>

            <span th:if="${#fields.hasErrors('day.dayName')}" th:errors="*{day.dayName}"></span><br/>
            <label>Day: </label><input type="text" th:field="*{day.dayName}"/>

            <span th:if="${#fields.hasErrors('fruitName')}" th:errors="*{fruitName}"></span><br/>
            <label>Fruit: </label><input type="text" th:field="*{fruitName}"/><br/>

            <div>
                <label for="fileInput">Image</label>
                <input id="fileInput" type="file" name="file" />
            </div>

            <input class="btn btn-info btn-sm" type="submit" value="Submit"/>

        </form>
    </div>

    <footer th:replace="base :: footer"></footer>
    <div class="space"></div>

</div> <!-- end container -->
<div th:replace="base :: scripts"></div>
</body>
</html>